<!doctype html>
<html ng-app="ngOughts">
<head>
    <title>Lab-2 - Tic-Tac-To</title>
    <link rel="stylesheet" href="Tictac.css">
</head>
<body ng-controller="BoardCtrl">
<div class="row" align="center">
    <!--Header Title-->
    <header><b>TIC-TAC-TOE</b></header>

</div>
<div align="center">
    <!--Declaring the winner, using the below code-->
    <h1 style="color: whitesmoke; font-size: 50px;" ng-show="board.won" ng-cloak>{{board.winning_marker}} Is the winner!</h1>
</div>
<div  align="center">
    <table align="center">
        <tr ng-repeat="row in board.grid">
            <td ng-repeat="cell in row" ng-click="board.playCell(cell)" ng-class="{'winning': cell.winning}">
                <span ng-bind="cell.marker"></span>
            </td>
        </tr>
    </table>
    <!--Below button is used to reset the game as it  is at the start-->
    <button class="btn" ng-click="board.reset()">Reset</button>
</div>

<!--Importing The required Javascript and bootstrap file-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>